*{
	font-family: 'Jura', sans-serif;
}

.bod{
	background-image: url(images/worldmaprz.png); 
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
}

header{
	margin-top: 1%;
	margin-bottom: 6%;
}

.lg{
	text-align: right;
}

.login{
	font-size: 2em;
	color:white;
	background-color: #026fd2;
	box-shadow: 0px 2px 5px grey;
}

.login:hover{
	color:white;
	text-decoration: none;
	background-color: #2583d9;
}

.title{
	color: #026fd2;		
	text-align: center;
	font-size: 5em;
	font-weight: bold;	
	margin-bottom: 7%;
}

.frm{
    text-align: center;	
}

.subB{
	display: inline-block;
	margin-top: 3%;
	background-color: #FF4F00;
	color: white;
	padding: 1% 2%;
	font-size: 3em;
	box-shadow: 0px 2px 10px grey;
}

.subB:hover{
	text-decoration: none;
	color: white;
	background-color: #fd611b;
}

.order{
	text-align: center;
}

.app{
	text-align: right;
	line-height: 100px;
}

.app1{
	line-height: 100px;
}

.logo{
	text-align:left;
}

.play1{
	border-radius: 6px;
	margin-left: 20px;	
	width: 160px;
}

.play{
	width: 55px;
	margin-right: 25px;
}

.lbInd{
	font-size:1.4em ;
	text-align: left;
}

.lbSig{
	font-size: 1.6em;	
	text-align: left;
}

.frmSig{
	display: block;
	width: 500px;
	height: 30px;
}

.subS{
	background-color: #FF4F00;
	color: white;
	font-size: 1.5em;

}

.subS:hover{
	text-decoration: none;
	color: white;
	background-color: #fd611b;
}

.form{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 200%;
	transform:translate(-50%,200%);
}

.logoSign{
	margin-top: 1%;
	text-align: center;
}

footer{
	height: 100px;
	background:linear-gradient(to left,#00519c,#0063bb);
	margin-top: 11%;
}

.ft2{
	margin-top: 2%;
}

.okno-bileta {
	padding: 10px;
	width: 100%;
	height: 260px;
	margin-bottom: 20px;
	background: #f1f1f1;
	box-shadow: 0px 2px 10px grey;
	border-radius: 5px;
	text-align: left;
	position: relative;
}

.nav{
	box-shadow: 0px 2px 10px grey;
	border-radius: 5px;
	margin-right: 10px;
	text-align: left;
}
	
.okno-bileta > h2,p{
	text-align: left;
	text-align: justify;
}

.okno-bileta > h2{
	font-size: 2.5em;
}

.orderBut{
	letter-spacing: 3px;
	color: white;
	background-color: #fd611b;
	border: none;
	box-shadow: 0px 2px 10px grey;
	font-weight: bold;
	margin-right: 5px;
	position: absolute;
	top: 25%;
	left: 15%;

}

.frm2{
display: inline-block;
}

.dv{
	width: 140px;
	display: inline-block;
}

.hr1{
width: 280px;
height: 2px;
border-radius: 50px;
background-color: #3f3f3f;
}