*{
	font-family: 'Jura', sans-serif;
}

body{
	background-image: url(images/worldmaprz.png); 
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
}

header{
	margin-top: 1%;
	margin-bottom: 6%;
}

.lg{
	text-align: right;
}

.login{
	/* font-size: 2em; */
	color:white;
	background-color: #026fd2;
}

.login:hover{
	color:white;
	text-decoration: none;
	background-color: #2583d9;
}

.title{
	color: #026fd2;		
	text-align: center;
	font-size: 5em;
	font-weight: bold;	
	margin-bottom: 7%;
}

.frm{
    text-align: center;	
}

.subB{
	display: inline-block;
	margin-top: 3%;
	background-color: #FF4F00;
	color: white;
	padding: 1% 2%;
	font-size: 3em;
}

.subB:hover{
	text-decoration: none;
	color: white;
	background-color: #fd611b;
}

.order{
	text-align: center;
}

.app{
	text-align: right;
	line-height: 100px;
}

.app1{
	line-height: 100px;
}

.logo{
	text-align:left;
}

.play1{
	border-radius: 6px;
	margin-left: 20px;	
	width: 160px;
}

.play{
	width: 55px;
	margin-right: 25px;
}

.lbInd{
	font-size:1.4em ;
	text-align: left;
}

.lbSig{
	font-size: 1.6em;	
	text-align: left;
}

.frmSig{
	display: block;
	width: 500px;
	height: 30px;
}

.subS{
	background-color: #FF4F00;
	color: white;
	font-size: 1.5em;

}

.subS:hover{
	text-decoration: none;
	color: white;
	background-color: #fd611b;
}

.form{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 200%;
	transform:translate(-50%,200%);
}

.logoSign{
	margin-top: 1%;
	text-align: center;
}

footer{
	height: 100px;
	background-color: #026fd2;
	/*  margin-top: 11%; */
}
.okno-bileta {
	width: 100%;
	height: 200px;
	border: 2px solid #026fd2;
	margin-bottom: 20px;
	margin-right: 0;
	text-align: center;
	background: #f1f1f1;
}